<!DOCTYPE html>
<html ng-app="TicTacToe">
<head>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
</head>
	<body>
        <h1>TIC TAC TOE </h1>
		<div ng-controller="tttController">
            <div class="main-container"  >
                
                <!----------COLUMNS---------->
                <div class="column"
                ng-repeat="column in board">
                    
                    <!----------BOXES---------->
                    <div id="{{box.x}}_{{box.y}}" ng-repeat="box in column" ng-class="{ box: true, p1: box.p1owns, p2: box.p2owns}"
                    ng-click="cellClick(box) ; clickingBox(whichArray(box), box.x, box.y)"
                    >

                        <div>
                        <!-- ng-class=""
                        ng-click="cellClick(oneCell)"
                         ng-class="{ xcell : oneCell.owner = 'X', ycell : oneCell.owner = 'Y' }"
                        ng-click="cellClick(oneCell)"
                         -->
                        {{ box.x }}, {{ box.y }}

                        </div>
                    </div>
                </div>
            </div>
		</div>
	</body>
</html>
<!-- 
, red :function(p2)" -->

<!-- ng-class"{box:true, selected:box.active}" -->